/*.IT {
  color: blue;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}*/
/*.abc {
  background: crimson;
}
.xyz {
  background: green;
}
/*.ab {
  background: black;
}*/
/*#outer {
  background: orange;
  height: 250px;
}
#inner {
  background: gray;
  height: 150px;
}*/
/*#text //{
  width: 100px;
  height: 100px;
  background: red;
}*/
